.vdnbp { 
  padding-bottom: 14px;
  padding-top: 98px;
  padding-top: 96px;
  line-height: 45px;
  border-bottom-width: 0px;
  padding-top: 10px;
  margin-bottom: 41px;
  border-top-width: 6px;
  padding-right: 5px;
  margin-right: 61px;
  border-left-width: 6px;
  margin-bottom: 59px;
  border-bottom-width: 34px;
  margin-left: 9px;
  margin-right: 3px;
  margin-bottom: 64px;
  border-left-width: 3px;
  border-bottom-width: 19px;
  border-left-width: 93px;
  margin-bottom: 97px;
  margin-left: 20px;
  font-size: 77px;
  padding-right: 39px;
  margin-left: 4px;
  font-size: 45px;
  margin-bottom: 90px;
  margin-left: 19px;
  border-right-width: 42px;
  border-bottom-width: 20px;
  line-height: 96px;
  margin-bottom: 97px;
  padding-right: 3px;
  padding-left: 82px;
  margin-bottom: 21px;
  margin-right: 36px;
  margin-left: 84px;
  border-left-width: 49px;
  margin-right: 96px;
}
