.vwgbo { 
  line-height: 75px;
  border-right-width: 0px;
  border-bottom-width: 67px;
  margin-bottom: 64px;
  padding-right: 56px;
  border-right-width: 30px;
  padding-right: 61px;
  padding-bottom: 38px;
  padding-bottom: 57px;
  line-height: 92px;
  padding-top: 19px;
}
