.vdnbp { 
  padding-bottom: 14px;
  padding-top: 98px;
  padding-top: 96px;
  line-height: 45px;
  border-bottom-width: 0px;
  padding-top: 10px;
  margin-bottom: 41px;
  border-top-width: 6px;
  padding-right: 5px;
  margin-right: 61px;
  border-left-width: 6px;
  margin-bottom: 59px;
  border-bottom-width: 34px;
  margin-left: 9px;
  margin-right: 3px;
  padding-top: 0px;
}
