.vdnbp { 
  padding-bottom: 14px;
  padding-top: 98px;
  padding-top: 96px;
  line-height: 45px;
  border-bottom-width: 0px;
  padding-top: 10px;
  margin-bottom: 41px;
  border-top-width: 6px;
  padding-right: 5px;
  margin-right: 61px;
  border-left-width: 6px;
  margin-bottom: 59px;
  border-bottom-width: 34px;
  margin-left: 9px;
  margin-right: 3px;
  margin-bottom: 64px;
  border-left-width: 3px;
  border-bottom-width: 19px;
  border-left-width: 93px;
  margin-bottom: 97px;
  margin-left: 20px;
  font-size: 77px;
  padding-right: 39px;
  margin-left: 4px;
  font-size: 45px;
  margin-bottom: 90px;
  margin-left: 19px;
  border-right-width: 42px;
  border-bottom-width: 20px;
  line-height: 96px;
  margin-bottom: 97px;
  padding-right: 3px;
  padding-left: 82px;
  margin-bottom: 21px;
  margin-right: 36px;
  margin-left: 84px;
  border-left-width: 49px;
  border-left-width: 14px;
  margin-left: 90px;
  padding-left: 32px;
  font-size: 24px;
  line-height: 97px;
  border-right-width: 44px;
  border-top-width: 27px;
  margin-right: 74px;
  border-bottom-width: 56px;
  border-bottom-width: 4px;
  border-right-width: 39px;
  margin-left: 66px;
  padding-right: 59px;
  margin-left: 25px;
  padding-bottom: 76px;
  padding-top: 77px;
  border-top-width: 2px;
  border-top-width: 14px;
  margin-right: 3px;
  padding-right: 69px;
  margin-bottom: 47px;
  line-height: 20px;
  border-left-width: 17px;
  border-top-width: 93px;
  margin-bottom: 12px;
  border-bottom-width: 19px;
  padding-bottom: 78px;
  margin-top: 76px;
  padding-top: 0px;
  border-right-width: 96px;
  border-top-width: 95px;
  margin-left: 57px;
  line-height: 87px;
  padding-bottom: 10px;
  margin-left: 64px;
  line-height: 57px;
  border-left-width: 17px;
  border-bottom-width: 72px;
  line-height: 58px;
  margin-left: 10px;
  border-bottom-width: 82px;
  font-size: 94px;
  border-left-width: 84px;
  font-size: 9px;
  margin-bottom: 43px;
  padding-bottom: 32px;
  border-top-width: 33px;
  padding-top: 77px;
  margin-left: 97px;
  margin-left: 76px;
  margin-bottom: 63px;
  margin-left: 80px;
  padding-left: 19px;
  line-height: 16px;
  font-size: 42px;
  padding-top: 37px;
  margin-bottom: 39px;
  margin-left: 38px;
  margin-left: 72px;
  padding-right: 46px;
  border-left-width: 61px;
  padding-left: 52px;
  margin-bottom: 34px;
  padding-right: 79px;
  border-left-width: 88px;
  margin-left: 51px;
  padding-top: 37px;
  padding-left: 4px;
  margin-top: 10px;
  padding-left: 79px;
  padding-bottom: 29px;
  margin-top: 24px;
  border-bottom-width: 53px;
  border-right-width: 69px;
  margin-top: 97px;
  border-bottom-width: 31px;
}
